.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: 0;
  margin-left: 0;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #e82828;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.headerletter {
  font-size: 1.4em;
}

.headerbutton {
  margin: 5px 10px 10px 0px;
  height: 50px;
  padding-top: 12px;
  font-family: Montserrat, sans-serif;
  padding-bottom: 12px;
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(147,25,25);
  border-color: #931919;
}

.btn-primary:hover {
  color: #fff;
  background-color: #b52121;
  border-color: #b52121;
}

.btn-primary {
  color: #fff;
  background-color: var(--bs-red);
  border-color: var(--bs-red);
}

.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .25rem rgba(49,132,253,0);
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: var(--bs-red);
  border-color: var(--bs-red);
  box-shadow: 0 0 0 .25rem rgba(49,132,253,0);
}

.btn-primary.right {
  color: var(--bs-red);
  background-color: rgba(49,132,253,0);
  border-color: var(--bs-red);
  border-width: 2px;
  z-index: -6;
}

.headerbutton.right:hover {
  background-color: #b52121;
  color: #ffffff;
  border-color: #b52121;
}

.headerbutton.right:focus {
  background-color: rgba(232,40,40,0);
  color: var(--bs-red);
  border-color: var(--bs-red);
}

.buttonsdiv {
  margin-top: 50px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

::--webkit-scrollbar-thumb {
  background: #6649b8;
}

.headerrow {
  margin-right: 1rem!important;
  margin-left: 1rem!important;
}

.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 0px;
  padding-top: 25px;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid rgb(232,40,40);
  border-bottom: 2px solid rgb(232,40,40);
  margin: 0 0 3px 4px;
  width: 20px;
  height: 20px;
}

.unu {
  margin-top: 1px;
}

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
  max-width: 97%;
  margin: auto;
  background: rgb(247,247,247);
  margin-top: 18px;
  border-radius: 11px;
}

@media (max-width: 992px) {
  .header {
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  .header {
    margin-top: 0px;
  }
}

.nav-item {
  margin: 0px 7px;
  text-align: center;
  line-height: 20px;
  font-weight: 600;
}

.neumorphicshador {
  box-shadow: 6px 6px 16px rgb(230,230,230), -6px -6px 16px rgb(255,255,255);
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 576px) {
  .sectionheading {
    font-size: 2.5rem;
    font-family: 'Laviossa Medium';
  }
}

@media (min-width: 340px) {
  .sectionheading {
    font-size: 2rem;
    font-family: 'Laviossa Medium';
  }
}

.sectionrow {
  margin: 1rem 1rem;
}

.sectioncard {
  padding: 40px;
  background: #f7f7f7;
  border-radius: 35px;
}

.sectionparagraph {
  font-size: 17px;
  font-weight: 300;
  line-height: 23px;
  font-family: 'Montserrat';
  margin-top: 28px;
}

@media (max-width: 992px) {
  .sectioncard {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .sectioncard {
    width: 85%;
  }
}

.nav-link {
  text-align: center;
}

.hizmetlerimiz {
  text-align: center;
  font-family: 'Laviossa Medium';
}

@media (min-width: 300px) {
  .hizmetlerimiz {
    font-size: 2rem;
  }
}

@media (min-width: 576px) {
  .hizmetlerimiz {
    font-size: 3rem;
  }
}

.cd-words-wrapper {
  display: inline-flex;
  position: relative;
  text-align: left;
  font-size: 1.4em;
  color: var(--bs-red);
  font-family: 'Laviossa Medium';
  font-weight: 300;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
}

.is-visible, .blc {
  color: gery;
}

.noSelect {
  pointer-events: none;
}

.animated {
  margin: auto!important;
}

.hevalnergiz {
  color: var(--bs-red);
  text-decoration: none;
}

.hevalnergiz:hover {
  color: #b52121;
}

.form-control:focus {
  color: #212529;
  background-color: #f9f9f9;
  outline: 0;
  box-shadow: 6px 6px 16px rgb(230,230,230), -6px -6px 16px rgb(255,255,255);
}

.form-control {
  display: block;
  width: 80%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.9;
  color: #212529;
  background-color: #f9f9f9;
  background-clip: padding-box;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: auto;
  box-shadow: inset 4px 4px 16px #e6e6e6, inset -4px -4px 16px #ffffff;
  border-radius: 8px;
}

.footer-basic {
  padding: 40px 0;
  background-color: rgb(247,247,247);
  color: #4b4c4d;
  max-width: 97%;
  margin: auto;
  border-radius: 15px;
  margin-bottom: 20px;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  font-size: 1rem;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .hizmetsection {
    margin-top: 40px;
  }
}

.hakkimizda {
  margin: auto;
  border-radius: 20px;
  background: rgb(247,247,247);
  margin-bottom: 47px;
  margin-top: 47px;
}

@media (min-width: 992px) {
  .hakkimizda {
    max-width: 70%;
  }
}

@media (max-width: 991px) {
  .hakkimizda {
    min-width: 100%;
  }
}

.cardlist {
  font-size: 0.9em;
}

.cardcol {
}

.cardbutton {
  width: 100%;
  border-bottom-right-radius: 19px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.cardheader {
  font-family: Montserrat, sans-serif;
  margin-top: 19px;
  font-size: 1.9em;
  color: rgb(0,0,0);
}

.cardlowerheader {
  font-family: Montserrat, sans-serif;
  font-size: 1.7em;
  max-width: 95%;
  margin: auto;
  color: rgb(33,37,41);
}

.cardlistdiv {
  padding-top: 12px;
  padding-bottom: 12px;
}

.cardprice {
  margin-bottom: 0px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.cardicon {
  font-size: 80px;
  margin: auto;
  text-align: center;
  font-weight: 800;
  padding-top: 3px;
}

.carddiv {
  background: rgba(242,242,242,0.68);
  border-radius: 40px;
  margin: auto;
  margin-top: 30px;
  border: 9px solid rgba(255,255,255,0.85);
}

.listlink {
  color: #080808;
  text-decoration: none;
  font-weight: 500;
}

.dropdown {
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(33,37,41)!important;
}

.brandlogo {
  margin: auto;
}

.brandcol {
  text-align: center;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0rem;
}

.brands {
  color: #313437;
  background-color: #fff;
}

.brands a {
  display: block;
  text-align: center;
  padding: 40px 0;
}

@media (max-width:767px) {
  .brands a {
    padding: 30px 0;
  }
}

.brands a img {
  display: inline-block;
  margin: 0px 15px;
  vertical-align: middle;
  width: 5rem;
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.55);
  border-color: rgba(0,0,0,.1);
}

.modalbuttondiv {
  margin: 15px 10px;
}

.modallistbutton {
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

a:hover {
  color: #e82828;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #e82828;
}

* {
}

*:before, *:after {
}

#wp {
  position: fixed;
  z-index: 100;
  height: 3rem;
  width: 3rem;
  left: 20px;
  bottom: 20px;
  border-radius: 14px;
  background-color: rgb(38,231,7);
  font-size: 1.6rem;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  box-shadow: 6px 6px 16px rgba(0,0,0,0.1), -6px -6px 16px rgb(255,255,255);
}

#wp:hover {
  text-decoration: none!important;
}

